syntax: glob

.git/
.DS_Store
._.DS_Store
*.pyc
*.stats.json
*.stats.new.json
.idea
.npm-debug.log
__pycache__

.vagrant
Vagrantfile
.venv/
venv/

npm-debug.log

media/*
static/*


node_modules/
yarn.lock

*.sublime-workspace
*.sublime-project

package-lock.json

.cache-loader/

.uwsgi/

config.json
log/*

node_modules/*
frontend/node_modules/*